

<div class="row" *ngIf="productData.length > 0 ; else noProduct">
    <div class="col-md-12 text-right">
        <button mat-mini-fab color="accent" routerLink="addProduct" class="icon">
            <mat-icon>plus_one</mat-icon>
        </button>
        <hr>
    </div>
    <div class="col-md-4">
        <mat-list role="list">
            <mat-list-item role="listitem"
                *ngFor="let product of productData"
                    [routerLink]="[product.pid]"
                    [queryParams]="{canReturn: product.canReturn}">
                {{product.pname}}
            </mat-list-item>
        </mat-list>
    </div>
</div>

<ng-template #noProduct>
    <p class="alert alert-warning">
        No Product data Available
    </p>
</ng-template>